{% extends 'base.html' %}
{% load static %}

{% block a %}
<style>


</style>
<div class="row slider bg-light" style="min-height:500px;">
  <div class="col-sm-12">
    <!----start slider--->
    <div class="row ">
    <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="false">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">






    <div class="carousel-item active">
      <img src="{% static 'images/m5.jpg'%}" style="max-height:600px;" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h2 class="" style="margin-left:0px; margin-bottom:50px; font-family:Algerian;">KEEP CALM <br/> AND <br/> DO YOUR <br/> ASSIGNMENT</h2>
        <p></p>
      </div>
    </div>



    <div class="carousel-item">
      <img src="{% static 'images/m11.webp'%}" style="max-height:600px;" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h2 class="text-secondary fw-bold" style="margin-left:600px; margin-bottom:200px; font-family:Bradley Hand ITC;"> <p class="bg-light"> "Education is the </br> most powerful <br/> weapon which <br/> you can use to <br/> change world"  </p> </h2>
        <p></p>
      </div>
    </div>


     <div class="carousel-item ">
      <img src="{% static 'images/assign.jpg'%}" style="max-height:600px;" class="d-block w-100" alt="...">
      <div class="carousel-caption">
        <h2 style="margin-right:60px; margin-bottom:150px; font-family:Castellar;" class="text-primary fw-bold" ><b class="txt-mycolor">" Education</b> is the key </br> to unlock </br>the <b class="txt-mycolor">GOLDEN </b> door</br>  of <b class="txt-mycolor"> FREEDOM. "</b></h2>
      </div>
    </div>



  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
      </div>


    <!----end slider--->
</div>
</div>
<div class="row services">
  <h1 class="text-center my-5 fs-1 txt-mycolor"> Educational Assistance</h1>

  <div class="col-sm-2 bg-light">
    <img src="{% static 'images/chat.png' %}" style="height:80px; margin-left:150px;"/>
    <img src="{% static 'images/debit.png' %}" style="height:80px; margin-left:150px;" class="mt-5 mb-5"/>
    <img src="{% static 'images/paper.png' %}" style="height:80px; margin-left:150px;" class="mt-5"/>
  </div>
  <div class="col-sm-8 bg-light ">
    <h4>Tell Us What You Need</h4>
    <p>Specify the subject, deadline, email ID and assignment topic on our submission form and place the order.
    Upload your assignment related files,
    if any. We will send you the best price quote straight to your inbox in a blink of an eye.</p>
    <h4 class="mt-5">Pay For Assignment</h4>
    <p>Once you receive your quote, process your secure transaction through credit cards,
      debit cards and bank transfers in an instant. Payments are fast, easy and secure with many options provided
      like apple pay, google pay, visa, mastercard, discover, american express, alipay and many more.</p>
    <h4 class="mt-5">Receive Completed Solution</h4>
    <p>It’s time for you to just sit back and relax. Our writers start working on your assignment as soon as
      you confirm the payment. Get ready to get a perfectly
      referenced and formatted assignment in your inbox long before the agreed deadline.</p>

  </div>
  <div class="col-sm-2 bg-light"></div>
</div>


<div class="row section1  ">
  <div class="col-sm-12 ">
    <h1 class="text-center my-5 txt-mycolor">Assignment Help Services</h1>
  <div class="row  px-5 py-2 ">


  <div class="col-sm-3 border border-2  p-5 mx-5 bg-light ">
    <i class="fa-solid fa-computer mb-3 txt-mycolor " style="margin:0px 100px; font-size:50px;"></i>
    <h4 class="text-center mb-4 ">

      Get Online Assignment Help</h4>
    <p>MyAssignmenthelp.com is the leading assignment help provider worldwide.
      We have an exclusive assignmenthelp service for Indian students who are
      pursuing their degrees overseas. We have a team of assignment writing experts from
      top universities to help these students in the best possible manner.
      Each of these academic writers possesses extensive knowledge and expertise.
      They draft top-notch and plagiarism-free assignments.</p>

  </div>
  <div class="col-sm-3 border border-2 p-5 mx-5 bg-light ">
    <i class="fa-sharp fa-solid fa-book-open  mb-3 txt-mycolor " style="margin:0px 100px; font-size:50px;"></i>
        <h4 class="text-center  mb-4 ">Custom Essay Writing Help</h4>
    <p >MyAssignmenthelp.com helps Indian students to compose different types of
      essays within the givendeadline. With a highly qualified and experienced group of essay writing
      experts, we assist the students to complete due essay tasks with complete ease and 100% plagiarism free content.
      We provide 100 percent original and customized essay help solutions on any subject and topics.
      Our services include, custom essay writing, editing of essay, proofreading.</p>


  </div>
  <div class="col-sm-3 border border-2 p-5 mx-5 bg-light ">
    <i  class="fa-solid fa-wallet  mb-3 txt-mycolor" style="margin:0px 100px; font-size:50px;"></i>
      <h4 class="text-center mb-4  ">All Academic Writing Services</h4>
    <p >Our all academic writing services for the Indian students studying abroad
      include custom essay writing help, online homework assignment help, case study
      help, term paper help services, coursework help, thesis help, research paper writing help,
      online dissertation writing service and many more. No matter what subject,
      area or field of study a student deals with, our experts always have a custom solution
      to any your academic problem.</p>
  </div>
</div>
    </div>
</div>


<div class="row section2 mt-4"><h1 class="text-center txt-mycolor mb-3">Our Gallery</h1>
  <div class="col-sm-12 ">
    <div class="row   pb-2 ">
      <div class="col-sm-3 ">
        <img src="{% static 'images/m3.jpeg' %}" style="height:250px; "/>
      </div>
      <div class="col-sm-3 ">
                <img src="{% static 'images/m4.jpeg' %}" style="height:250px;"/>

      </div>
      <div class="col-sm-3 ">
                <img src="{% static 'images/m7.jpg' %}" style="height:250px;"/>

      </div>
       <div class="col-sm-3 px-2 ">
                <img src="{% static 'images/m1.jpg' %}" style="height:250px; width:100%;"/>

      </div>
    </div>
  </div>

</div>
{% endblock %}